{% extends "base.html" %}

{% block page_title %}
  <div class="bg-dark text-white p-3 h1">
    911 Emergency Response Dashboard
  </div>
{% endblock %}

{% block body %}
  {% include '_fitler.html' %}
  <div>
    <canvas id="myChart"></canvas>
  </div>

{% endblock %}


{% block js %}

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  </script>

{% endblock %}