{% extends "base.html" %}


{% block page_title %}
  <div class="bg-primary text-white p-3 h1">
    Welcome to the Emergency Response Dashboard
  </div>
{% endblock %}

{% block body %}

  <h3>
    What would you like to do?
  </h3>
  <ul>
    <li><a href="{% url 'map' %}">View Map</a></li>
    <li><a href="{% url 'charts' %}">Summary of Data</a></li>
    <li><a href="{% url 'admin' %}">Admin Page</a></li>
  </ul>
{% endblock %}

{% block page_footer %}
  <div class="alert alert-secondary">
    <small>
      Data source:
      <a href="https://www.kaggle.com/datasets/mchirico/montcoalert?resource=download&select=911.csv">https://www.kaggle.com/datasets/mchirico/montcoalert?resource=download&select=911.csv</a>
    </small>
  </div>
{% endblock %}


