{% extends "base.html" %}


{% block page_title %}
<div class="bg-primary text-white p-3 h1">
  Welcome to the Emergency Response Dashboard
</div>
{% endblock %}

{% block body %}

<h2 class="mb-5">
  What would you like to do?
</h2>

<div class="mb-3 lead"><a href="{% url 'map' %}">View Map</a></div>
<div class="mb-3 lead"><a href="{% url 'charts' %}">Summary of Data</a></div>
<div class="mb-3 lead"><a href="{% url 'admin' %}">Import Data</a></div>

{% endblock %}

{% block page_footer %}
<div class="alert alert-secondary">
  <small>
    Prepared by Group
  </small>
</div>
{% endblock %}



