{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block more_styles %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
  <style>
  #map {
      height: 500px;
  }
  </style>
{% endblock %}

{% block page_title %}
  <div class="bg-dark text-white p-3 h1">
    911 Emergency Response Dashboard
  </div>
{% endblock %}

{% block body %}
  <div class="text-start mb-3">
    <a href="{% url 'index' %}" class="btn btn-primary">Back </a>
  </div>

  <div id="app" v-cloak>
    <div v-if="initialLoading" class="text-center">
      <div class="mb-3">
        🍵 Please wait the data is loading 🍵
      </div>
      <div class="spinner-border mb-5" role="status" style="width: 4rem; height: 4rem;">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div v-else>

     {% include '_fitler.html' %}

      <div class="mb-3 text-center">
        Currently displaying ${callCount.toLocaleString()} emergency calls of ${count.toLocaleString()}.
      </div>
      <div class="row mb-3 text-center">
        <div class="col">

          <div id="map" ref="map"></div>
        </div>
      </div>

      <div class="float-end form-inline">
        <label for="page_size">Results to load:</label> <input id="page_size" type="number" v-model="pageSize" class=" " style="width: 5rem;">
      </div>
      <div class="">
        <button v-if="moreLoading" disabled class="btn btn-sm btn-warning">
          <span class="spinner-border" role="status" style="width: 1rem; height: 1rem;"></span>
        </button>
        <button v-else-if="next" @click="loadMore" class="btn btn-sm btn-warning">
          Load more
        </button>
        <button v-else disabled class="btn btn-sm btn-secondary">
          No more results
        </button>
      </div>
    </div>

  </div>



{% endblock %}

{% block js %}
  {{ block.super }}



  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
          crossorigin=""></script>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script type="application/javascript">

  var blackIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-black.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
  });


  var blueIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
  });

  var yellowIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-yellow.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
  });


  var redIcon = new L.Icon({
    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41]
  });

  let dateRange = {{ datetime_range|safe }};

  const {createApp} = Vue
  app = createApp({
    delimiters: ["${", "}"],
    data() {
      return {
        L,
        initialLoading: true,
        moreLoading: false,
        calls: [],
        count: 0,
        next: null,
        map: null,
        ptGroup: null,
        ptBounds: null,
        pageSize: 250,
        filter: {
          datetime__gte: dateRange[0],
          datetime__lte: dateRange[1],
        },
      }
    },
    methods: {
      updateFilter() {
        this.getCalls();
      },
      getCallsEndpoint() {
        let endpoint = `{% url 'calls_api' %}?page_size=${this.pageSize}&`;
        for (const filterKey in this.filter) {
          endpoint += `${filterKey}=${this.filter[filterKey]}&`
        }
        return endpoint;
      },
      getCalls() {
        this.initialLoading = true;
        fetch(this.getCallsEndpoint())
            .then(response => response.json())
            .then(data => {
              this.calls = data.results;
              this.count = data.count;
              this.next = data.next;
              this.initialLoading = false;
              this.$nextTick(() => this.initMap());
            });
      },
      loadMore() {
        this.moreLoading = true;
        fetch(this.next)
            .then(response => response.json())
            .then(data => {
              this.calls = this.calls.concat(data.results);
              this.count = data.count;
              this.next = data.next;
              this.loadMarkers(data.results);
              this.moreLoading = false;
            })
      },
      loadMarkers(data) {
        for (const call of data) {
          let latLng = [call.latitude, call.longitude];
          let icon;
          if (call.response_type === "Fire") icon = redIcon;
          else if (call.response_type === "EMS") icon = yellowIcon;
          else if (call.response_type === "Traffic") icon = blackIcon;
          else icon = blueIcon;
          this.ptGroup.addLayer(
              this.L.marker(latLng, {icon: icon}).bindPopup(`
              ${call.response_unit}<br>
              ${call.category}<br>
              ${call.dt_display}<br>
              `)
          );
          this.ptBounds.extend(latLng);
        }
        if (data.length) {
          this.map.fitBounds(this.ptBounds);
          this.ptGroup.addTo(this.map);
        }
      },
      initMap() {
        this.map = this.L.map(this.$refs.map).setView([51.505, -0.09], 13);
        this.L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(this.map);

        this.ptGroup = this.L.layerGroup()
        this.ptBounds = this.L.latLngBounds();

        this.loadMarkers(this.calls);

      }
    },
    created() {
      this.getCalls();
    },
    computed: {
      callCount() {
        return this.calls.length;
      }
    },
  })
  {#app.component('vue-multiselect', window.VueMultiselect.default)#}
  app.mount("#app")
  </script>


{% endblock %}

<script>


</script>

